@media (min-width: 730px) and (max-width: 1280px)
{
    #osnov{
        height: 700px;
        width: 100%;
        min-width: 730px;
    }
    #right {
        width: 400px;
        position: relative;
        right: 0;
    }
    #right header {
        left: 0;
    }
    #left{
        min-width: 20%;
    }
    header img
    {

    }
    header{
    }
}
@media (min-width: 320px) and (max-width: 729px)
{
    #osnov{
        height: 700px;
        width: 100%;
    }
    #left{
        display: none;
    }
    #right {
        width: 100%;
        height: 100%;
    }
    header{
        position: absolute;
        top: 0;
    }
    input[type="text"]{
        font-size: 15px;
    }
    #text{
        font-size: 20px;
    }
    #invalid_password{
        bottom: 25px;
    }

}
@media (max-width: 390px){
    #osnov{
        width: 320px;
        padding: 0;
    }
    #left{
        display: none;
    }
    #right {
        width: 100%;
        height: 100%;
    }
    #right_content{
        width: 90%;
    }
    input[type="text"]{
        font-size: 15px;
    }
    #text{
        font-size: 20px;
    }
    #invalid_password{
        bottom: 25px;
    }
}