@media (min-width: 980px){
    #osnov{
        height: 100%;
        width: 100%;
        min-width: 980px;
    }
    #right {
        width: 50%;
        position: relative;
        right: 0;
    }
    #right header {
        left: 0;
    }
    #left{
        min-width: 10%;
    }
}
@media (min-width: 320px) and (max-width: 979px)
{
    #osnov{
        width: 100%;
    }
    #left{
        display: none;
    }
    #right {
        width: 100%;
        height: 100%;
    }
    header{
        position: absolute;
        top: 0;
    }
    input[type="text"]{
        font-size: 15px;
    }
    #text{
        font-size: 20px;
    }
    #invalid_massage{
        font-size: 20px;
    }
    #invalid_password{
        font-size: 10px;
        width: 220px;
        position: absolute;
        display: none;
    }
    h2{
        margin: 20px 0;
        font-size: 48px;
    }
    .block_pole_registr{
        font-size: 20px;
    }
    input[type="text"]{
        font-size: 20px;
    }
    label {
        font-size:15px;
    }
    input[type=submit]{
        margin-top: 30px;
        font-size: 25px;
        width:150px;
    }
    .pole_registr{
        margin-top: 35px;
    }

}
@media (max-width: 390px){
    #osnov{
        width: 390px;
        padding: 0;
    }
    #left{
        display: none;
    }
    #right {
        width: 100%;
        height: 100%;
    }
    #right_content{
        width: 90%;
    }
    input[type="text"]{
        font-size: 15px;
    }
    #text{
        font-size: 20px;
        top:10px;
        margin-top: 10px;
    }
    }
    #invalid_password{
        font-size: 10px;
        width: 220px;
        position: absolute;
        display: none;
    }
    h2{
        margin: 20px 0;
        font-size: 48px;
    }
    .block_pole_registr{
        font-size: 20px;
    }
    input[type="text"]{
        font-size: 20px;
    }
    label {
        font-size:15px;
    }
    input[type=submit]{
        margin-top: 30px;
        font-size: 25px;
        width:150px;
    }
    .pole_registr{
        margin-top: 35px;
    }
