html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Verdana, serif;
    letter-spacing:1px;
    height: 100%;
    width: 100%;
}
#osnov{
    width: 100%;
    height: 100%;
    display: flex;
}
#right{
    width: 35%;
    display: flex;
}
#right_content{
    margin: 0 auto;
    width: 80%;
    text-align: left;
}
#left {
    width: 65%;
    display: flex;
    background: url(img/background.png);
    background-size: cover;
}
header img
{
    width:500px;
}
header{
    width:100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    padding:5px 10px;
}
h2{
    margin: 20px 0;
    font-size: 48px;
    font-weight:bold;
}
.pole_registr{
    width: 100%;
    margin-top: 35px;
}
#text{
    top:10px;
    margin-top: 10px;
}
.block_pole_registr{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #959595;
    font-size: 20px;
    font-weight:bold;
}
#invalid_massage{
    font-size: 20px;
}
#invalid_password{
    font-size: 18px;
    width: 220px;
    position: absolute;
    display: none;
}
.invalid{
    color: #c80000;
    border: 1px solid #c80000;
    padding: 3px 7px;
    text-align: center;
    font-weight:bold;
}
.invalid img{
    height: 15px;
}

input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    color: #dcdcdc;
    font-size: 28px;
    outline:none;
    padding-bottom:5px;
    margin-top: 10px;

}
#block_button{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
label {
    font-size:20px;
    color: #959595;
    font-weight:bold;
}
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    position: relative;
    margin:0 10px 0  0;
    vertical-align: bottom;
}
#green_text{
    color:#65c29b;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    color: #f3f3f3;
    text-align: center;
    line-height: 15px;
}
input[type=submit]{
    margin-top: 80px;
    font-size: 30px;
    font-weight:bold;
    width:300px;
    background:linear-gradient(to top,#00aeef 0%, #64c29b 100%);
    border-radius:30px;
    padding: 5px 0;
    outline:none;
    color: white;
}
input[type=submit]:hover{
    background:linear-gradient(to top,#64c29b 0%, #00aeef 100%);
}