@media (min-width: 980px) {
  #osnov {
    height: 100%;
    width: 100%;
    min-width: 980px; }
    #osnov #left {
      min-width: 10%; }
    #osnov #right {
      width: 50%;
      position: relative;
      right: 0; }
      #osnov #right header {
        left: 0; } }

@media (min-width: 399px) and (max-width: 979px) {
  #osnov {
    width: 100%; }
    #osnov #left {
      display: none; }
    #osnov #right {
      width: 100%;
      height: 100%; } }

@media (max-width: 400px) {
  #osnov {
    width: 390px;
    height: auto;
    padding: 0; }
    #osnov h2 {
      font-size: 30px;
      margin: 10px 0; }
    #osnov #left {
      display: none; }
    #osnov #right {
      width: 100%;
      height: 100%; }
      #osnov #right #right_content {
        width: 90%; }
      #osnov #right input[type=submit] {
        font-size: 20px;
        margin: 30px 0 0 0; }
      #osnov #right .block_pole_registr {
        font-size: 12px;
        margin: 0; }
        #osnov #right .block_pole_registr .pole_registr {
          margin-top: 20px; }
          #osnov #right .block_pole_registr .pole_registr #text {
            top: 5px;
            margin-top: 10px; }
          #osnov #right .block_pole_registr .pole_registr input[type="text"] {
            font-size: 16px;
            margin: 5px 0 0 0; }
      #osnov #right label {
        font-size: 15px;
        margin: 20px 0 0 0; }
        #osnov #right label .checkbox-custom {
          width: 25px;
          height: 25px; }
  .checkbox:checked + .checkbox-custom:before {
    background-size: contain; }
  #success_massage {
    font-size: 15px;
    margin: 0; }
  #invalid_massage {
    font-size: 15px;
    margin: 0;
    display: none; }
  #invalid_password {
    font-size: 13px;
    margin: 0 0 5px 0; }
    #invalid_password img {
      height: 15px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUyLmNzcyIsInNvdXJjZXMiOlsic3R5bGUyLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiQG1peGluIHRyYW5zZm9ybSgkcHJvcGVydHkxICwgJHByb3BlcnR5Mikge1xyXG4gIGZvbnQtc2l6ZTogJHByb3BlcnR5MTtcclxuICBtYXJnaW46ICRwcm9wZXJ0eTI7XHJcbn1cclxuQG1lZGlhIChtaW4td2lkdGg6IDk4MHB4KXtcclxuICAjb3Nub3Z7XHJcbiAgICBoZWlnaHQ6IDEwMCU7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIG1pbi13aWR0aDogOTgwcHg7XHJcbiAgICAjbGVmdHtcclxuICAgICAgbWluLXdpZHRoOiAxMCU7XHJcbiAgICB9XHJcbiAgICAjcmlnaHQge1xyXG4gICAgICB3aWR0aDogNTAlO1xyXG4gICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICAgIHJpZ2h0OiAwO1xyXG4gICAgICBoZWFkZXIge1xyXG4gICAgICAgIGxlZnQ6IDA7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn1cclxuQG1lZGlhIChtaW4td2lkdGg6IDM5OXB4KSBhbmQgKG1heC13aWR0aDogOTc5cHgpXHJcbntcclxuICAjb3Nub3Z7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgICNsZWZ0e1xyXG4gICAgICBkaXNwbGF5OiBub25lO1xyXG4gICAgfVxyXG4gICAgI3JpZ2h0IHtcclxuICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgIGhlaWdodDogMTAwJTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWF4LXdpZHRoOiA0MDBweClcclxue1xyXG4gICNvc25vdntcclxuICAgIHdpZHRoOiAzOTBweDtcclxuICAgIGhlaWdodDogYXV0bztcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgICBoMntcclxuICAgICAgQGluY2x1ZGUgdHJhbnNmb3JtKDMwcHggLCAxMHB4IDApO1xyXG4gICAgfVxyXG4gICAgI2xlZnR7XHJcbiAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICB9XHJcbiAgICAjcmlnaHQge1xyXG4gICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAjcmlnaHRfY29udGVudHtcclxuICAgICAgICB3aWR0aDogOTAlO1xyXG4gICAgICB9XHJcbiAgICAgIGlucHV0W3R5cGU9c3VibWl0XXtcclxuICAgICAgICBAaW5jbHVkZSB0cmFuc2Zvcm0oIDIwcHggLCAzMHB4IDAgMCAwKTtcclxuICAgICAgfVxyXG4gICAgICAuYmxvY2tfcG9sZV9yZWdpc3Rye1xyXG4gICAgICAgIEBpbmNsdWRlIHRyYW5zZm9ybSgxMnB4ICwgMCk7XHJcbiAgICAgICAgLnBvbGVfcmVnaXN0cntcclxuICAgICAgICAgIG1hcmdpbi10b3A6IDIwcHg7XHJcbiAgICAgICAgICAjdGV4dHtcclxuICAgICAgICAgICAgdG9wOjVweDtcclxuICAgICAgICAgICAgbWFyZ2luLXRvcDogMTBweDtcclxuICAgICAgICAgIH1cclxuICAgICAgICAgIGlucHV0W3R5cGU9XCJ0ZXh0XCJde1xyXG4gICAgICAgICAgICBAaW5jbHVkZSB0cmFuc2Zvcm0oMTZweCwgNXB4IDAgMCAwKTtcclxuICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgICAgbGFiZWx7XHJcbiAgICAgICAgQGluY2x1ZGUgdHJhbnNmb3JtKDE1cHgsIDIwcHggMCAwIDApO1xyXG4gICAgICAgIC5jaGVja2JveC1jdXN0b20ge1xyXG4gICAgICAgICAgd2lkdGg6IDI1cHg7XHJcbiAgICAgICAgICBoZWlnaHQ6IDI1cHg7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5jaGVja2JveDpjaGVja2VkICsgLmNoZWNrYm94LWN1c3RvbTpiZWZvcmUge1xyXG4gICAgYmFja2dyb3VuZC1zaXplOiBjb250YWluO1xyXG4gIH1cclxuICAjc3VjY2Vzc19tYXNzYWdle1xyXG4gICAgQGluY2x1ZGUgdHJhbnNmb3JtKDE1cHggLCAwKTtcclxuICB9XHJcbiAgI2ludmFsaWRfbWFzc2FnZXtcclxuICAgIEBpbmNsdWRlIHRyYW5zZm9ybSgxNXB4ICwgMCk7XHJcbiAgICBkaXNwbGF5OiBub25lO1xyXG4gIH1cclxuICAjaW52YWxpZF9wYXNzd29yZHtcclxuICAgIEBpbmNsdWRlIHRyYW5zZm9ybSgxM3B4ICwwIDAgNXB4IDApO1xyXG4gICAgaW1ne1xyXG4gICAgICBoZWlnaHQ6IDE1cHg7XHJcbiAgICB9XHJcbiAgfVxyXG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUlBLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUFBLE1BQU0sQ0FBQTtJQUNKLE1BQU0sRUFBRSxJQUFJO0lBQ1osS0FBSyxFQUFFLElBQUk7SUFDWCxTQUFTLEVBQUUsS0FBSyxHQVlqQjtJQWZELEFBSUUsTUFKSSxDQUlKLEtBQUssQ0FBQTtNQUNILFNBQVMsRUFBRSxHQUFHLEdBQ2Y7SUFOSCxBQU9FLE1BUEksQ0FPSixNQUFNLENBQUM7TUFDTCxLQUFLLEVBQUUsR0FBRztNQUNWLFFBQVEsRUFBRSxRQUFRO01BQ2xCLEtBQUssRUFBRSxDQUFDLEdBSVQ7TUFkSCxBQVdJLE1BWEUsQ0FPSixNQUFNLENBSUosTUFBTSxDQUFDO1FBQ0wsSUFBSSxFQUFFLENBQUMsR0FDUjs7QUFJUCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUssT0FBTyxTQUFTLEVBQUUsS0FBSztFQUU3QyxBQUFBLE1BQU0sQ0FBQTtJQUNKLEtBQUssRUFBRSxJQUFJLEdBUVo7SUFURCxBQUVFLE1BRkksQ0FFSixLQUFLLENBQUE7TUFDSCxPQUFPLEVBQUUsSUFBSSxHQUNkO0lBSkgsQUFLRSxNQUxJLENBS0osTUFBTSxDQUFDO01BQ0wsS0FBSyxFQUFFLElBQUk7TUFDWCxNQUFNLEVBQUUsSUFBSSxHQUNiOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUV0QixBQUFBLE1BQU0sQ0FBQTtJQUNKLEtBQUssRUFBRSxLQUFLO0lBQ1osTUFBTSxFQUFFLElBQUk7SUFDWixPQUFPLEVBQUUsQ0FBQyxHQXFDWDtJQXhDRCxBQUlFLE1BSkksQ0FJSixFQUFFLENBQUE7TUF6Q0osU0FBUyxFQTBDYyxJQUFJO01BekMzQixNQUFNLEVBeUN3QixJQUFJLENBQUMsQ0FBQyxHQUNqQztJQU5ILEFBT0UsTUFQSSxDQU9KLEtBQUssQ0FBQTtNQUNILE9BQU8sRUFBRSxJQUFJLEdBQ2Q7SUFUSCxBQVVFLE1BVkksQ0FVSixNQUFNLENBQUM7TUFDTCxLQUFLLEVBQUUsSUFBSTtNQUNYLE1BQU0sRUFBRSxJQUFJLEdBMkJiO01BdkNILEFBYUksTUFiRSxDQVVKLE1BQU0sQ0FHSixjQUFjLENBQUE7UUFDWixLQUFLLEVBQUUsR0FBRyxHQUNYO01BZkwsQUFnQkksTUFoQkUsQ0FVSixNQUFNLENBTUosS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFELE1BQUMsQUFBQSxFQUFZO1FBckR0QixTQUFTLEVBc0RpQixJQUFJO1FBckQ5QixNQUFNLEVBcUQyQixJQUFJLENBQUMsQ0FBQyxDQUFDLENBQUMsQ0FBQyxDQUFDLEdBQ3RDO01BbEJMLEFBbUJJLE1BbkJFLENBVUosTUFBTSxDQVNKLG1CQUFtQixDQUFBO1FBeER2QixTQUFTLEVBeURnQixJQUFJO1FBeEQ3QixNQUFNLEVBd0QwQixDQUFDLEdBVzVCO1FBL0JMLEFBcUJNLE1BckJBLENBVUosTUFBTSxDQVNKLG1CQUFtQixDQUVqQixhQUFhLENBQUE7VUFDWCxVQUFVLEVBQUUsSUFBSSxHQVFqQjtVQTlCUCxBQXVCUSxNQXZCRixDQVVKLE1BQU0sQ0FTSixtQkFBbUIsQ0FFakIsYUFBYSxDQUVYLEtBQUssQ0FBQTtZQUNILEdBQUcsRUFBQyxHQUFHO1lBQ1AsVUFBVSxFQUFFLElBQUksR0FDakI7VUExQlQsQUEyQlEsTUEzQkYsQ0FVSixNQUFNLENBU0osbUJBQW1CLENBRWpCLGFBQWEsQ0FNWCxLQUFLLENBQUEsQUFBQSxJQUFDLENBQUssTUFBTSxBQUFYLEVBQVk7WUFoRTFCLFNBQVMsRUFpRW9CLElBQUk7WUFoRWpDLE1BQU0sRUFnRTZCLEdBQUcsQ0FBQyxDQUFDLENBQUMsQ0FBQyxDQUFDLENBQUMsR0FDbkM7TUE3QlQsQUFnQ0ksTUFoQ0UsQ0FVSixNQUFNLENBc0JKLEtBQUssQ0FBQTtRQXJFVCxTQUFTLEVBc0VnQixJQUFJO1FBckU3QixNQUFNLEVBcUV5QixJQUFJLENBQUMsQ0FBQyxDQUFDLENBQUMsQ0FBQyxDQUFDLEdBS3BDO1FBdENMLEFBa0NNLE1BbENBLENBVUosTUFBTSxDQXNCSixLQUFLLENBRUgsZ0JBQWdCLENBQUM7VUFDZixLQUFLLEVBQUUsSUFBSTtVQUNYLE1BQU0sRUFBRSxJQUFJLEdBQ2I7RUFJUCxBQUFBLFNBQVMsQUFBQSxRQUFRLEdBQUcsZ0JBQWdCLEFBQUEsT0FBTyxDQUFDO0lBQzFDLGVBQWUsRUFBRSxPQUFPLEdBQ3pCO0VBQ0QsQUFBQSxnQkFBZ0IsQ0FBQTtJQWpGaEIsU0FBUyxFQWtGWSxJQUFJO0lBakZ6QixNQUFNLEVBaUZzQixDQUFDLEdBQzVCO0VBQ0QsQUFBQSxnQkFBZ0IsQ0FBQTtJQXBGaEIsU0FBUyxFQXFGWSxJQUFJO0lBcEZ6QixNQUFNLEVBb0ZzQixDQUFDO0lBQzNCLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7RUFDRCxBQUFBLGlCQUFpQixDQUFBO0lBeEZqQixTQUFTLEVBeUZZLElBQUk7SUF4RnpCLE1BQU0sRUF3RnFCLENBQUMsQ0FBQyxDQUFDLENBQUMsR0FBRyxDQUFDLENBQUMsR0FJbkM7SUFMRCxBQUVFLGlCQUZlLENBRWYsR0FBRyxDQUFBO01BQ0QsTUFBTSxFQUFFLElBQUksR0FDYiJ9 */
