@mixin transform($property1 , $property2) {
  font-size: $property1;
  margin: $property2;
}
@media (min-width: 980px){
  #osnov{
    height: 100%;
    width: 100%;
    min-width: 980px;
    #left{
      min-width: 10%;
    }
    #right {
      width: 50%;
      position: relative;
      right: 0;
      header {
        left: 0;
      }
    }
  }
}
@media (min-width: 399px) and (max-width: 979px)
{
  #osnov{
    width: 100%;
    #left{
      display: none;
    }
    #right {
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 400px)
{
  #osnov{
    width: 390px;
    height: auto;
    padding: 0;
    h2{
      @include transform(30px , 10px 0);
    }
    #left{
      display: none;
    }
    #right {
      width: 100%;
      height: 100%;
      #right_content{
        width: 90%;
      }
      input[type=submit]{
        @include transform( 20px , 50px 0 0 0);
      }
      .block_pole_registr{
        @include transform(12px , 0);
        padding-top: 10px;
        .pole_registr{
          margin-top: 20px;
          #text{
            top:5px;
            margin-top: 10px;
          }
          input{
            @include transform(16px, 5px 0 0 0);
          }
        }
      }
    }
  }
  #invalid_checkbox{
    margin-block-start: inherit;
  }
  label{
    @include transform(13px, 10px 0 0 0);
    .checkbox-custom {
      width: 25px;
      height: 25px;
    }
  }
  .checkbox:checked + .checkbox-custom:before {
    background-size: contain;
  }
  #success_massage , #invalid_massage{
    @include transform(10px , 0);
    padding: 0;
  }
  .invalid{
    @include transform(10px ,0 0 5px 0);
    padding: 2px;
    img{
      height: 15px;
    }
  }
}