@mixin transform($property1 , $property2) {
  font-size: $property1;
  margin: $property2;
}
@media (min-width: 980px){
  #osnov{
    height: 100%;
    width: 100%;
    min-width: 980px;
    #right {
      width: 50%;
      position: relative;
      right: 0;
      header {
        left: 0;
      }
    }
    #left{
      min-width: 10%;
    }
  }
}
@media (min-width: 399px) and (max-width: 979px)
{
  #osnov{
    width: 100%;
    #left{
      display: none;
    }
    #right {
      width: 100%;
      height: 100%;
      #block_button {
        margin: 20px 0 0 0; }
    }
  }
  #block_button{
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin:0 10px 0  0;
    }
    input[type=submit]{
      @include transform( 30px , 60px 0 0 0);
      width:300px;
      padding: 5px 0;
    }
  }
}

@media (max-width: 400px)
{
  #osnov{
    width: 390px;
    padding: 0;
    #left{
      display: none;
    }
    h2{
      @include transform(30px , 10px 0);
    }
    #right {
      width: 100%;
      height: 100%;
      #right_content{
        width: 90%;
      }
      input[type=submit]{
        @include transform( 20px , 40px 0 0 0);
      }
      .block_pole_registr{
        @include transform(12px , 0);
        .pole_registr{
          margin-top: 20px;
          #text{
            top:5px;
            margin-top: 10px;
          }
          input[type="text"]{
            @include transform(16px, 10px 0 0 0);
          }
        }
      }
    }
  }
  #block_button{
    @include transform(14px ,10px 0 0 0 );
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      margin:0 10px 0  0;
    }
    input[type=checkbox]:checked + label:before {
      line-height: 15px;
    }
    input[type=submit]{
      @include transform( 30px , 80px 0 0 0);
      width:70%;
      padding: 5px 0;
    }
  }
  .invalid{
    padding: 3px 7px;
    .invalid img{
      height: 10px;
      display: none;
    }
    #invalid_password{
      width: 220px;
      display: none;
      @include transform(18px , 0);
    }
    #invalid_massage{
      @include transform(20px , 0);
    }
  }
}