$font-family: Verdana, sans-serif;
$color-white: #fff;
$color-grey-light: #dcdcdc;
$color-grey: #959595;
$color-green: #62c29c;
$color-blue: #00aeef;
$color-error: #c80000;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

body {
  display: flex;
  flex-direction: row;
  background: blue;
}

h1 {
  font-size: 48px;
}

a {
  color: $color-green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.bg {
  background: url("../img/background.png");
  width: 70%;
  height: 100%;

  header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
}

.form {
  background: $color-white;
  width: 30%;
  padding: 10px 30px 20px;
  height: calc(100% - 30px);

  > .form-message {
    margin-bottom: 20px;
  }

  .form-message {
    display: none;
    &.error-message {
      border: 1px solid $color-error;
      border-radius: 4px;
      padding: 10px 45px 10px 10px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 0;
        width: 25px;
        height: 100%;
        background: url('../img/invalid.png') right center no-repeat;
      }
    }
    &.show {
      display: block !important;
    }
  }

  input {
    border: none;
    border-bottom: 2px solid $color-grey-light;
    font-size: 28px;
    line-height: 28px;
    padding: 10px 0;
    outline: none;
    width: 100%;
  }

  label {
    font-size: 20px;
    color: $color-grey;
  }

  .form-field {
    margin-bottom: 30px;
    position: relative;

    .form-message {
      position: absolute;
      right: 0;
      bottom: 15px;
      display: none;
    }

    &.invalid {
      input {
        border-bottom-color: $color-error;
      }
      .form-message {
        display: block;
      }
    }

    .field-wrap {
      position: relative;
    }
  }

  .form-button {
    button {
      border: none;
      background: $color-green;
      background: linear-gradient(0deg, $color-green 0%, $color-blue 100%);
      color: $color-white;
      font-size: 30px;
      height: 60px;
      line-height: 60px;
      padding: 0 80px;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        background: $color-blue;
        background: linear-gradient(0deg, $color-blue 0%, $color-green 100%);
      }
    }
  }

  .form-checkbox {
    padding-bottom: 70px;
    label {
      display: block;
      position: relative;
      padding-left: 46px;
      cursor: pointer;
      line-height: 34px;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkmark {
          &:after {
            display: block;
          }
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 34px;
        width: 34px;
        background-color: $color-grey-light;

        &:after {
          content: '';
          position: absolute;
          display: none;
          height: 34px;
          width: 34px;
          background: url('../img/Shape.png') center no-repeat;
        }
      }
    }
  }
}

